<h1>Select Cards to Replace</h1>
<%= form_for @hand do |f| %>

<div class="hand">

  <% @hand.cards.each do |card| %>
    <div>
      <!-- clicking an image selects a hidden checkbox, who's value is passed back via params in card_ids[] -->
      <input class="box" style="display: none" id="<%=card.id %>" name="card_ids[]" value="<%=card.id %>"  type="checkbox"  />
      <label for="<%= card.id %>"><%= image_tag ("#{card.suit[0]}0#{card.value}.png"), :class => "selected" %></label>
    </div>
  <% end %>

</div>

<%= f.submit 'Update Hand', :class => "button" %>
<% end %>
