<h1>Enter Bet Below.. </h1>

<%= form_for @hand do |f| %>
<span id="dollar">$ </span><%= number_field_tag "bet", value = nil, :class => "text_field", :style => "width: 10vw", min: 0, max: @current_user.dollars, step: 10 %>
<span style="margin: 0 0 0 20px"><%= f.submit 'Deal!', :class => "button" %></span>

<h3 id="glow"><%= @handrank %></h3>
<div class="hand">
  <% 5.times do %>
  <div>
    <%= image_tag ("cardback.png") %>
  </div>
  <% end %>
</div>

<% end %>
