<h1>Current Balance: $<%= @current_user.dollars %></h1>
<h1>Enter Bet Below.. </h1>

<%= form_for @hand do |f| %>
<span id="dollar">$ </span><%= text_field_tag "bet", value = nil, :class => "text_field", :style => "width: 5vw" %>

<h3 id="glow"><%= @handrank %></h3>
<div class="hand">
  <% 5.times do %>
  <div>
    <%= image_tag ("cardback.png") %>
  </div>
  <% end %>
</div>
<h1> <%= f.submit 'Deal!', :class => "button" %></h1>
<% end %>
