<h1>You won $<span id="dollars">$<%= @winnings %></span></h1>
<h1>Current funds: <span id="dollars">$<%= @current_user.dollars %></span></h1>
<h1>Hand #<%= @hand.id %></h1>
<h3 id="glow"><%= @hand.hand_rank %></h3>
<div class="hand">
  <% @hand.cards.each do |card| %>
  <div>
    <p><%= card.value %> of <br/><%= card.suit %></p>
    <%= image_tag (card.img) %>
  </div>
  <% end %>
</div>
<h1> <%= link_to "Play Again?", new_hand_path %></h1>
