<% if session[:winnings] > 0  %>
  <h1><span id="glow"><%= @hand.hand_rank %></span> - You won <span id="dollars">$<%= session[:winnings] %> </span></h1>
<% else %>
  <h1><span id="glow"><%= @hand.hand_rank %></span> - You lost <span id="dollars">$<%= session[:winnings] * -1 %> </span></h1>
<% end %>
<h1>Current Balance: <span id="dollars">$<%= @current_user.dollars %></span></h1>
<div class="hand">
  <% @hand.cards_in_hand.order(:position).reverse_order.each do |id| %>
  <div>
    <%= image_tag (id.card.img) %>
  </div>
  <% end %>
</div>
<% if @current_user.dollars == 0 %>
<h1><%= link_to "Reload Balance", edit_user_path(@current_user) %></h1>
<% else %>
<h1> <%= link_to "Play Again?", new_hand_path %></h1>
<% end %>
