<!DOCTYPE html>
<html>
<head>
  <title>GruneTunes Poker</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
</head>

<body>
  <header>

    <a href="/" id="logo">GruneTunes</br> Poker</a>
    <nav>
      <% if @current_user %>
      <div style="display: inline-block; float: right; margin: 20px 10px 0 0; text-align: right ">
        <span><%= link_to  "#{@current_user.username.upcase}", user_path(@current_user) %><br></span>
        <span><%= link_to "Sign Out", session_path, method: :delete %></span>
        <% else %>
        <span style="float: right; margin: 20px 10px 0 0"><%= link_to "Sign In", new_session_path %></span><br>
        <span style="float: right; margin: 0 10px 0 0"><%= link_to "Sign Up", new_user_path %></span>

      </div>
      <% end %>
    </nav>

    <% if @current_user %>
    <li><%= link_to "How to Play", root_path %></li> |
    <li><a href=" /users/<%=@current_user.id%>/statistics">Statistics</a></li> |
    <li><%= link_to "Play Game!", new_hand_path %></li>
    <% end %>
  </header>
  <% flash.each do |type, message| %>
    <p style="text-align: center" class="<%= type %>"><%= message %></p>
  <% end %>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <ol>
    <% @users.each do |user| %>
      <% if @current_user && user.username == @current_user.username %>
      <li style="color: red">
        <%= user.username %> - $<%= user.dollars %>
      </li>
      <% else %>
      <li>
        <%= user.username %> - $<%= user.dollars %>
      </li>
      <% end %>
    <% end %>
    <ol>
  </div>

  <!-- Use any element to open the sidenav -->
  <span id="leaderboard" onclick="openNav()"><strong>Leaderboard</strong></span>

  <main onclick=closeNav()>
    <%= yield %>
  </main>
</body>
</html>
